/* Estilo general */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: linear-gradient(135deg, #147d17, #085696); /*<---------- aqui se cambia el color del fondo*/
    color: white;     /*<---------- aqui se cambia el color de las letras */
}

/* Barra de navegación superior */
.navbar {
    background-color: #f7f7f7;   /*fondo header*/  
    color: white;
    width: 100%;
    padding: 15px 20px;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar-container {
    display: flex;
    width: 100%;   
    align-items: center;  
}

.nav-logo {
    display: flex;
    align-items: center;
    text-decoration: none;
    margin-left: 10px;
}

.nav-logo-img {
    max-height: 50px;
    height: auto;
    margin-right: 10px;
}

.menu-toggle {
    background: none;
    border: none;
    color: rgb(36, 36, 36);
    font-size: 24px;
    cursor: pointer;
    margin-right: 20px;
}

.search-bar {
    flex-grow: 1;
    max-width: 650px; /* Ajusta el tamaño máximo de la barra de búsqueda */
    padding: 10px 15px;
    border: 1px solid #000000;
    border-radius: 4px;
    font-size: 16px;
    margin: 0 20px; /* Espacio a los lados */
    margin-left: 10%;
}

.user-menu {
    position: relative;
    display: flex;
    align-items: normal;
    margin-left: auto;
    z-index: auto;
}

.user-button {
    background: none;
    border: none;
    color: rgb(36, 36, 36);
    font-size: 24px;
    cursor: pointer;
    margin: 0 20px;
}

.user-dropdown {
    display: none;
    position: fixed;
    right: 0;
    margin-top: 45px;
    margin-right: 7px;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.user-dropdown a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.user-dropdown a:hover {
    background-color: #f1f1f1;
}

.user-dropdown.show {
    display: block;
}

/* Menú lateral */
.side-menu {
    width: 200px;
    background-color: #333;
    padding: 15px;
    position: fixed;
    top: 60px; /* Ajusta según la altura de tu navbar */
    left: -200px; /* Oculto inicialmente */
    height: 100%;
    overflow-y: auto;
    transition: left 0.3s;
}

.side-menu.open {
    left: 0; /* Mostrar menú */
}
.side-menu nav ul {
    list-style-type: none;
    padding: 0;
}

.side-menu nav ul li {
    margin: 10px 0;
}

.side-menu nav ul li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    display: block;
    padding: 10px;
    border-radius: 4px;
    transition: background-color 0.3s;
    margin-top: 15px;
}

.side-menu nav ul li a:hover {
    background-color: #575757;
}


/* Contenido principal */
.main-content {
    flex-grow: 1;
    padding: 20px;
    margin-left: 20px; /* Ajusta según el ancho del menú lateral */
    margin-top: 60px; /* Ajusta según la altura de tu navbar */
    transition: margin-left 0.3s;
}

.main-content.shifted {
    margin-left: 220px; /* Ajusta según el ancho del menú lateral */
}

/* Estilos para la información del usuario */
.user-info {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    margin: 20px auto;
    color: #333;
}

.user-info table {
    width: 100%;
    border-collapse: collapse;
}

.user-info th, .user-info td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.user-info th {
    background-color: #f2f2f2;
    font-weight: bold;
}

.user-info tr:hover {
    background-color: #f1f1f1;
}

.user-info h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

.main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


/* Estilos para la tabla */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #9d9b9b;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
    color: black;
}

td input {
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
}

td button {
    padding: 5px 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

td button:hover {
    background-color: #45a049;
}

/* Footer */
.footer {
    background-color: #1c1c1c;   /*<---------- aqui se cambia el color del fondo del footer*/
    color: white;   /*<---------- aqui se cambia el color de las letras */
    text-align: center;
    padding: 10px 20px;
    position: relative;
    bottom: 0;
    width: 100%;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
}

.footer p {
    margin: 0;
    font-size: 14px;
}
/* Estilos para los botones de la tabla */
button {
    padding: 8px 12px;
    margin: 4px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
}

/* Botón de editar */
button[onclick="editUser()"] {
    background-color: #4CAF50; /* Verde */
    color: white;
}

/* Botón de eliminar */
button[onclick="deleteUser()"] {
    background-color: #f44336; /* Rojo */
    color: white;
}

/* Botón de añadir usuario */
button[onclick="addUser()"] {
    background-color: #008CBA; /* Azul */
    color: white;
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 16px;
}

.table-container {
    background-color: white;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    color: black;
}

/* Estilos para el formulario de creación de usuario */
.form-container {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    min-width: 50%;
    max-width: 1000px;
    margin: 20px auto;
}

.form-container h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

.form-container label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #333;
}

form-container input[type="text"],
.form-container input[type="date"],
.form-container select {
    width: 50%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    text-align: center;
}

.form-container button {
    background-color: #4CAF50; /* Verde */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    display: block;
    width: 100%;
}

.form-container button:hover {
    background-color: #45a049;
}

/*tabla de solicitudes*/

/* Estilo para la tabla de solicitudes */
.solicitudes-table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    background-color: #ffffff;
    color: #000000;
}

.solicitudes-table th,
.solicitudes-table td {
    padding: 12px 15px;
    text-align: left;
}

.solicitudes-table th {
    background-color: #ffffff;
    color: #000000;
    text-transform: uppercase;
    font-weight: bold;
}

.solicitudes-table tbody tr {
    border-bottom: 1px solid #ffffff;
}

.solicitudes-table tbody tr:nth-child(even) {
    background-color: #ffffff;
}

.solicitudes-table tbody tr:hover {
    background-color: #444445;
}

.solicitudes-table button {
    padding: 8px 12px;
    margin: 0 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.solicitudes-table button:hover {
    background-color: #575757;
    color: white;
}

.solicitudes-table button:first-child {
    background-color: #58a6ff;
    color: white;
}

.solicitudes-table button:nth-child(1) {
    background-color: #4caf50;
    color: white;
}

.solicitudes-table button:nth-child(2) {
    background-color: #f44336;
    color: white;
}

/*avisos y calendario*/

/* Cuadro de avisos */
.avisos {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 28px;
    color: #000000;
    margin-bottom: 20px;
    box-shadow: 20px 14px 18px rgba(0, 0, 0, 0.3);
    margin-right: -500px;
    height: 250px;
    

}

.avisos h2 {
    color: #000000;
    margin-bottom: 10px;
}

.avisos ul {
    list-style-type: disc;
    padding-left: 20px;
    text-align: center;
    margin-right: 15px;
    margin-top: 55px;
}

/* Calendario */
.calendar-container {
    background-color: #353535;
    padding: 10px;
    border-radius: 20px;
    color: #ffffff;
    text-align: center;
    box-shadow: 20px 14px 18px rgba(0, 0, 0, 0.3);
    max-width: 350px; /* Establece un tamaño máximo */
    margin: 0 auto;
    margin-right: 800px;
    margin-top: -275px;

}

.calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
    margin-top: 10px;
    font-size: 12px; /* Tamaño de fuente más pequeño */
    margin-right: 150px;
}

.calendar-day, .calendar-date {
    background-color: #353535;
    padding: 5px;
    border-radius: 5px;
    text-align: center;
    color: #ffffff;
    box-shadow: inset 0 2px 4px rgba(58, 58, 58, 0.2);
    font-size: 14px; /* Fuente de los días del calendario */
}

.calendar-date:hover {
    background-color: #58a6ff;
    cursor: pointer;
    color: #353535;
}

.calendar-day {
    font-weight: bold;
    background-color: #353535;
    color: #ffffff;
}

.calendar-date.empty {
    background-color: transparent; /* Espacios vacíos sin color */
    box-shadow: none;
}

.calendar-day, .calendar-date {
    padding: 8px; /* Reducción del padding para que se vea más pequeño */
}


/*bitacora*/

/* Estilo de la tabla */
.bitacora-table {
    width: 100%;
    margin: 20px 0;
    border-collapse: collapse;
    background-color: #3d3d3f;  /* Fondo de la tabla */
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Sombra alrededor de la tabla */
}

/* Estilo para los encabezados de la tabla */
.bitacora-table th, .bitacora-table td {
    padding: 12px 20px;
    text-align: center;
    border: 1px solid #555555; /* Borde gris oscuro */
}

.bitacora-table th {
    background-color: #444445; /* Fondo de los encabezados */
    color: #fff; /* Texto blanco */
    font-weight: bold; /* Negrita en los encabezados */
}

.bitacora-table td {
    background-color: #2e2e30; /* Fondo de las celdas */
    color: #e6e6e6; /* Texto claro */
}

/* Hover sobre las celdas para mejorar la interacción */
.bitacora-table tr:hover {
    background-color: #575757; /* Color al pasar el mouse sobre una fila */
    transition: background-color 0.3s ease;
}

/* Estilo de los botones dentro de la tabla */
.btn-agregar {
    background-color: #58a6ff;
    color: #fff;
    padding: 6px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

.btn-agregar:hover {
    background-color: #0073e6; /* Cambio de color al pasar el mouse */
}

/* Agregar espacio entre las celdas */
.bitacora-table td, .bitacora-table th {
    padding: 12px;
}




/*index*/
.main-content {
    text-align: center;
    padding: 20px;
    
}


.features-section {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 20px;
}

.feature {
    background-color: #f1f1f1;
    border-radius: 8px;
    padding: 20px;
    width: 250px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    color: #000;
    margin-top: 20px;
}

.feature:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.cta-buttons {
    margin-top: 30px;
}

.cta-buttons button {
    background-color: #004d99;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 5px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.cta-buttons button:hover {
    background-color: #003366;
}


/*cambiar contraseña*/


.container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}



.form-group {
    margin-bottom: 20px;
}

label {
    font-size: 14px;
    color: #555;
}

input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.btn-submit {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

.btn-submit:hover {
    background-color: #45a049;
}

.form-message {
    text-align: center;
    margin-top: 20px;
}

.form-message a {
    text-decoration: none;
    color: #4CAF50;
}

/*cards*/
.main-content h1, p{
    text-align: center;
    margin-top: 20px;
    color: #ffffff;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.card {
    background-color: #f1f1f1;
    color: #000000;
    border-radius: 10px;
    padding: 20px;
    text-decoration: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    overflow: hidden;
    margin-top: 20px;
    text-align: center;
    align-items: center;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.card .icon {
    margin-bottom: 20px;
}

.card img {
    width: 70px;
    height: 70px;
}

.card h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.card p {
    font-size: 16px;
    color: #000000;
}

/* Estilos del submenú */
.submenu {
    display: none;
    list-style: none;
    padding-left: 15px;
}

.submenu li {
    margin-top: 5px;
}

/* Mostrar el submenú cuando tiene la clase 'active' */
.submenu.active {
    display: block;
}

/* Estilos para la flecha */
.arrow {
    margin-left: 8px;
    transition: transform 0.3s ease;
    display: inline-block;
}

/* Rotar flecha cuando el submenú está abierto */
.has-submenu.open > a .arrow {
    transform: rotate(180deg);
}

.event-log {
    max-height: 300px;
    overflow-y: auto;
    border: 1px solid #000000;
    padding: 10px;
    margin-top: 20px;
    background-color: #000000;
}

.log-entry {
    border-bottom: 1px solid #000000;
    padding: 5px 0;
}
/* Estilos para el modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 60px;
    align-items: center;
    justify-content: center;
    }

    .modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 35%;
    border-radius: 5px;
        color: #000000;
    }

    .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    }

    .close:hover,
    .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
    }

    /* Estilos para el modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 60px;
    align-items: center;
    justify-content: center;
    }

    .modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 35%;
    border-radius: 5px;
        color: #000000;
        text-align: center;
    }

    input [type="text"] {
        text-align: left;
        width: 100%;
        padding: 10px;
        margin-top: 5px;
        border: 1px solid #ccc;
        border-radius: 4px;
        font-size: 16px;
    }

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #333;
    size: 16px;
}

    .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    }

    .close:hover,
    .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
    }

    .requirements {
    display: none;
    }

    /*AUTOREGISTRO*/
form {
    max-width: 400px;
    margin: auto;
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
}

form h2{
    text-align: center;
    margin-bottom: 10px;
}

label {
    display: inline-block;
    margin-top: 12px;
    margin-bottom: 3px;
    font-size: 16px;
}

input[type="text"], input[type="email"], input[type="password"] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.regis {

    width: 50%;
    margin: 20px auto;
    background-color: #008f00;
    color: white;
    padding: 10px 20px;
    font-size: 1.2em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.regis:hover {
    background-color: #4CAF50;
}

button:disabled {
    cursor: not-allowed; /* Cambia el puntero a no permitido cuando el botón está deshabilitado */
    background-color: #ddd; /* Cambia el color de fondo cuando está deshabilitado */
}

/* Estilos para los mensajes */
.requirements {
    display: none;
    color: orange;
    font-size: 0.8em;
    margin-top: 10px;
}

.requirements ul {
    list-style-type: none;
    padding-left: 0;
}

.requirements li {
    margin-bottom: 5px;
}

.valid {
    color: #339900;
}

.invalid {
    color: orange;
}

/* Estilo para el mensaje del campo de identidad */
#identityMessage, #nameMessage, #userMessage {
    display: none;
    font-size: 0.8em;
    margin-top: 5px;
}

/* Estilo para el mensaje flotante */
.toast-message {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;  /* Verde */
    color: green;
    padding: 15px 30px;
    border-radius: 5px;
    font-size: 16px;
    z-index: 9999;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: opacity 0.5s ease-out;  /* Transición suave para desvanecerse */
}

/* Estilo para el mensaje de coincidencia de contraseñas */
#passwordMatchMessage {
    font-size: 0.8em;
    margin-top: 10px;
}

.password-match {
    color: #339900;
}

.password-mismatch {
    color: #eabb00;
}

#yaRegistrado {
    display: block;
    text-align: center;
    margin-top: 20px;
    color: #007bff; /* Color verde para el enlace */
    font-size: 14px;
    text-decoration: none; /* Elimina el subrayado por defecto */
}

#yaRegistrado:hover {
    color: #0056b3; /* Color más oscuro cuando el enlace es hover */
    text-decoration: underline; /* Subraya el enlace cuando el usuario pasa el cursor sobre él */
}
