/* Estilos para el modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 60px;
    align-items: center;
    justify-content: center;
    }

    .modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 35%;
    border-radius: 5px;
        color: #000000;
    }

    .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    }

    .close:hover,
    .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
    }

    /* Estilos para el modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 60px;
    align-items: center;
    justify-content: center;
    }

    .modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 35%;
    border-radius: 5px;
        color: #000000;
        text-align: center;
    }

    input [type="text"] {
        text-align: left;
        width: 100%;
        padding: 10px;
        margin-top: 5px;
        border: 1px solid #ccc;
        border-radius: 4px;
        font-size: 16px;
    }

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #333;
    size: 16px;
}

    .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    }

    .close:hover,
    .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
    }

    .requirements {
    display: none;
    }

    /*AUTOREGISTRO*/
form {
    max-width: 400px;
    margin: auto;
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
}

form h2{
    text-align: center;
    margin-bottom: 10px;
}

label {
    display: inline-block;
    margin-top: 12px;
    margin-bottom: 3px;
    font-size: 16px;
}

input[type="text"], input[type="email"], input[type="password"] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.regis {
    width: auto;
    margin: 20px auto;
    background-color: #008f00;
    color: white;
    padding: 10px 20px;
    font-size: 1.2em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.regis:hover {
    background-color: #4CAF50;
}

button:disabled {
    cursor: not-allowed; /* Cambia el puntero a no permitido cuando el botón está deshabilitado */
    background-color: #ddd; /* Cambia el color de fondo cuando está deshabilitado */
}

/* Estilos para los mensajes */
.requirements {
    display: none;
    color: orange;
    font-size: 0.8em;
    margin-top: 10px;
}

.requirements ul {
    list-style-type: none;
    padding-left: 0;
}

.requirements li {
    margin-bottom: 5px;
}

.valid {
    color: #339900;
}

.invalid {
    color: orange;
}

/* Estilo para el mensaje del campo de identidad */
#identityMessage, #nameMessage, #userMessage {
    display: none;
    font-size: 0.8em;
    margin-top: 5px;
}

/* Estilo para el mensaje flotante */
.toast-message {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;  /* Verde */
    color: green;
    padding: 15px 30px;
    border-radius: 5px;
    font-size: 16px;
    z-index: 9999;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: opacity 0.5s ease-out;  /* Transición suave para desvanecerse */
}

/* Estilo para el mensaje de coincidencia de contraseñas */
#passwordMatchMessage {
    font-size: 0.8em;
    margin-top: 10px;
}

.password-match {
    color: #339900;
}

.password-mismatch {
    color: #eabb00;
}

#yaRegistrado {
    display: block;
    text-align: center;
    margin-top: 20px;
    color: #007bff; /* Color verde para el enlace */
    font-size: 14px;
    text-decoration: none; /* Elimina el subrayado por defecto */
}

#yaRegistrado:hover {
    color: #0056b3; /* Color más oscuro cuando el enlace es hover */
    text-decoration: underline; /* Subraya el enlace cuando el usuario pasa el cursor sobre él */
}

/* Contenedor de la tabla */
.table-container {
    width: 90%;
    margin: 20px auto;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}
